@import './src/scss/vars';

#create-secret {
  text-align: center;
}

.input.textarea-big textarea {
  height: 200px;
}

.loading-spinner {
  margin-top: 30px;
}

.generate-button {
  background-color: $secrets-primary-color !important;
  color: white;
}

.message-output-col {
  margin-top: 30px
}
