<div id="create-secret">
    <div class="title" [innerHTML]="title">
    </div>
    <form [formGroup]="noteForm" *ngIf="type == 'note'">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="input textarea-big secrets-item-size" floatLabel="always">
                    <mat-label>Note</mat-label>
                    <textarea matInput formControlName="note" placeholder="Write something secret..."></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    <form [formGroup]="loginForm" *ngIf="type == 'login'">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="input secrets-item-size" floatLabel="always">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="userX" formControlName="username">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="input secrets-item-size" floatLabel="always">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" placeholder="p4ssW0rd"
                           formControlName="password">
                    <button mat-icon-button matSuffix (click)="generatePassword()">
                        <mat-icon>replay</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </form>
    <form [formGroup]="imageForm" *ngIf="type == 'image'">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="input secrets-item-size" floatLabel="always">
                    <mat-label>File</mat-label>
                    <input matInput placeholder="example.jpg" [readonly]="true" (click)="imageInput.click()"
                           [value]="this.imageFile ? this.imageFile.name:null">
                    <button mat-icon-button matSuffix (click)="imageInput.click()">
                        <mat-icon>folder_open</mat-icon>
                    </button>
                </mat-form-field>
                <input hidden type="file" (change)="onFileSelected($event.target.files)" #imageInput formControlName="image"
                       id="imageInput" accept="image/*">
            </div>

            <div class="col-12">
                <mat-form-field appearance="outline" class="input textarea secrets-item-size" floatLabel="always">
                    <mat-label>Note</mat-label>
                    <textarea matInput formControlName="note" placeholder="Write a note to the image..."></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="input secrets-item-size" floatLabel="always">
                <mat-label>Valid for</mat-label>
                <mat-select [(value)]="selectedTimedelta">
                    <mat-option *ngFor="let timedelta of timeDeltas" [value]="timedelta.value">
                        {{timedelta.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button mat-button class="submit-button secrets-item-size" (click)="submit()">Create URL</button>
        </div>
        <div class="col-12 center-all loading-spinner" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div class="col-12 message-output-col" *ngIf="msg">
            <mat-form-field appearance="outline" floatLabel="always" class="message-output secrets-item-size">
                <mat-label>Encrypted Link</mat-label>
                <input matInput [value]="msg" [readonly]="true">
                <button mat-icon-button matSuffix ngxClipboard [cbContent]="msg"
                        [attr.aria-label]="'Copy message link'">
                    <mat-icon>file_copy</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>
