<div id="get-secret">
    <div class="title" [innerHTML]="'<strong>Decrypt</strong> ' + title_type">
    </div>

    <div class="row output-row" *ngIf="msg_decrypted && msg_decrypted.type == 'note'">
        <div class="col-12 center-all">
            <mat-form-field appearance="outline" class="input textarea-big secrets-item-size" floatLabel="always">
                <mat-label>Note</mat-label>
                <textarea matInput [value]="msg_decrypted.note" [readonly]="true"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row output-row" *ngIf="msg_decrypted && msg_decrypted.type == 'login'">
        <div class="col-12 center-all">
            <mat-form-field appearance="outline" class="input secrets-item-size" floatLabel="always">
                <mat-label>Username</mat-label>
                <input matInput [readonly]="true" [value]="msg_decrypted.username">
                <button mat-icon-button matSuffix ngxClipboard [cbContent]="msg_decrypted.username"
                        [attr.aria-label]="'Copy Username'">
                    <mat-icon>file_copy</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="row output-row" *ngIf="msg_decrypted && msg_decrypted.type == 'login'">
        <div class="col-12 center-all">
            <mat-form-field appearance="outline" class="input secrets-item-size" floatLabel="always">
                <mat-label>Password</mat-label>
                <input matInput [readonly]="true" [value]="msg_decrypted.password">
                <button mat-icon-button matSuffix ngxClipboard [cbContent]="msg_decrypted.password"
                        [attr.aria-label]="'Copy Password'">
                    <mat-icon>file_copy</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div class="row output-row" *ngIf="msg_decrypted && msg_decrypted.type == 'image'">
        <div class="col-12 center-all">
            <div class="img-container secrets-item-size">
                <img [src]="env.api_image_file+msg" alt="Image">
            </div>
        </div>
        <div class="col-12 center-all" *ngIf="msg_decrypted.note">
            <mat-form-field appearance="outline" class="input textarea-image_desc secrets-item-size" floatLabel="always">
                <mat-label>Note</mat-label>
                <textarea matInput [value]="msg_decrypted.note" [readonly]="true"></textarea>
            </mat-form-field>
        </div>
    </div>


    <div class="col-12 center-all loading-spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>
