@import './src/scss/vars';

#get-secret {
  text-align: center;
}


.output {
  padding: 20px 20px;
  text-align: left;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 1px solid #9a9a9a;
  word-wrap: break-word;
}

.output-row {
  margin-bottom: 1em;
  margin-top: 1em;
}

.loading-spinner {
  margin-bottom: 30px;
}

.input input {
}

.textarea-big textarea {
  height: 200px;
}

.textarea-image_desc {
  margin-top: 30px;
  textarea {
    height: 100px;
  }
}
