<style>
.mat-expansion-panel-content {
  font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif !important;
}
</style>

<div class="row center-all">
    <div class="col-12 secrets-item-size center-all">
<!--        <mat-expansion-panel [expanded]="false"> -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b style="font-size: 19px;">FAQs</b>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="panel-text">
                  <b>1. Is <i>pws_secrets</i> really private?</b><br><br>

                  We are confident that <i>pws_secrets</i> is both private and secure, and we are constantly working to make it that way! For more details please
                  read our privacy policy.<br><br>

                  <b>2. How can I send my note? Is there a way to send the link directly from the website?</b><br><br>

                  <i>pws_secrets</i> gives you a link to your note. You need to copy and paste this link into an email (or instant message) and send it to the person
                  who should read the note.<br><br>

                  <b>3. What secrets can I send with <i>pws_secrets</i>?</b><br><br>

                  You have the possibility to send a secret note, access data or pictures via <i>pws_secrets</i>. Use the tabs with the icons at the bottom of the
                  page to choose one of the functions.<br><br>

                  <b>4. Can I send a secret to multiple recipients?</b><br><br>

                  No, currently a secret message can only be opened once and is only valid as long as specified by the creator. A URL is valid for exactly one,
                  two or three days, after which the secret is no longer retrievable.<br><br>

                  <b>5. What can I do if I regret sending the note or if I accidentally send it to someone I don't want to read?</b><br><br>

                  You just have to insert the link in the URL of your browser, when the secret is displayed, it will destroy itself.
                  If the person you sent the link to tries to do the same, he will see the message that the secret is expired or invalid.<br><br>

                  <b>6. The recipient can copy and paste the note, so it won't really destroy itself, will it?</b><br><br>

                  Correct. But then again, you couldn't prevent the recipient from taking a screenshot or even memorizing the note. Therefore <i>pws_secrets</i> does
                  not try to protect the contents of the message from being copied. It just makes sure that the content is never read by anyone before it reaches
                  the recipient, and it is never read by anyone afterwards. What the recipient does with the secret message is in his own responsibility.<br><br>

                  <b>7. Is it possible to see a recently read note about the history of the browser, the back button, or the function of the recently closed tabs?</b><br><br>

                  A secret note destroys itself after reading — there is no way to re-read it after reading it.<br><br>

                  <b>8. How much time are unread notes stored on your servers?</b><br><br>

                Only secret images are stored encrypted on the server for a maximum time period of 3 days, the decryption key isn't on the server, so the image can't be decrypted without the link of the creator.
                <br><br>
                Secret notes and credentials aren't stored on the server, only a hash value of the secret messages is being saved when it's already opened.<br><br>

                  You have another question? Then please send us an email to <a href="mailto:secrets@pws-agency.com" style="color: #D90C2A">secrets@pws-agency.com</a>.


            </div>
        </mat-expansion-panel>
    </div>
</div>

<div class="row center-all">
    <div class="col-12 secrets-item-size center-all">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b style="font-size: 19px;">Open Source Project</b>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="panel-text">
                The application <i><i>pws_secrets</i></i> is a small django+python project that is open source and published under the MIT license.
                So you can have a look at the program <a href="https://git.pws-agency.com/pws/secrets.pws-agency.com/" style="color: #D90C2A">code</a>
                on our GitLab server - if you notice any bugs or just like the app, we'd love to hear from you!
            </div>
        </mat-expansion-panel>
    </div>
</div>

<div class="row center-all">
    <div class="col-12 secrets-item-size center-all">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b style="font-size: 19px;">Privacy Policy</b>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="panel-text">
              <i>Last modified: April 10, 2020</i><br><br>

              We take privacy very seriously, as the main purpose of the website is to preserve it. This policy describes the measures taken by <i>pws_secrets</i> to protect
              the privacy of its users.<br><br>

              <b>1. Description of the service</b><br><br>

              <i>pws_secrets</i> is a free web-based service that allows users to create encrypted messages that they can exchange over the Internet as unique HTTPS URLs
              (hereinafter referred to as links), which by default expire after initial access through any web browser.<br><br>

              Since <i>pws_secrets</i> does not provide any means of transmitting the link, the responsibility for sending the link lies with the users of <i>pws_secrets</i>.<br><br>

              Depending on the communication channel you choose (e.g. e-mail, fax, SMS, telephone, instant messaging, social media) there may be a certain risk that
              third parties may intercept your communication, gain knowledge of the link provided and thus be able to read your secrets.<br><br>

              <b>2. How the secrets and their contents are processed</b><br><br>

              The link is generated in the user's browser and is never sent as such to <i>pws_secrets</i>. The link is therefore only in the hands of the sender (and later
              possibly the recipient). Therefore there is no way to restore a secret if a user loses the link.<br><br>

              Since only the link binds the decryption key to the contents of the secret and <i>pws_secrets</i> does not own the link, at no time is a message in a readable
              format held by <i>pws_secrets</i>. This ensures that nobody (not even the administrators of <i>pws_secrets</i>) can read a note.<br><br>

              Once a created URL has been retrieved, there is absolutely no way to restore it.<br><br>

              The <i>pws_secrets</i> system administrator team will do as much as possible to protect the website from unauthorized access, modification or destruction. But
              even if someone or something manages to gain access to the web server, they cannot read the secrets, because their content is encrypted and cannot be
              decrypted without the links that <i>pws_secrets</i> never has.<br><br>

              <b>3. Collection and processing of personal data</b><br><br>

              For the purpose of visiting the website, we only collect and process the information and personal data that your internet browser automatically transmits
              to us, such as<br><br>

              <ol style="margin-left: 40px;">
                <li>date and time of the call of the web page</li>
                <li>your browser type and version and browser settings</li>
                <li>name and version of your operating system the website from which you visit our website (referrer URL)</li>
                <li>your IP address</li>
                <li>the URL you requested</li>
              </ol><br><br>

              This information and personal data is required for the purpose of delivering the content of the website correctly, as well as to ensure network and information
              security and to protect the website from attacks, disruptions and damage.<br><br>

              The personal data collected when the website is accessed, in particular the user's IP address, is deleted no later than seven days after it was collected,
              unless an attack or threat by the user has been identified.<br><br>

              <b>4. Pseudonymised data</b><br><br>

              The creator of a secret can enter personal data into the message or send it via image. Even if these data are encrypted, they can be decrypted again and thus
              represent pseudonymised (personal) data. In any case, the creator of the note cannot be deduced from the database of <i>pws_secrets</i>, because <i>pws_secrets</i> does not
              store URLs that have been created.<br><br>

              The decryption of the message data is in the hands of the users (sender and recipient). <i>pws_secrets</i> is not able to decrypt the note and access the data (personal
              or other) entered by the creator, because <i>pws_secrets</i> never has the decryption key, which is only contained in the link.<br><br>

              <b>5. Disclaimer</b><br><br>

              When a person clicks on a <i>pws_secrets</i> link, <i>pws_secrets</i> disclaims any responsibility for the content of the note.<br><br>

              <b>6. Disclosure of data to third parties</b><br><br>

              <i>pws_secrets</i> does not share, sell or use information with others in any way not mentioned in this privacy statement.<br><br>

              <b>7. Use of cookies</b><br><br>

              <i>pws_secrets</i> does not use cookies (small text files that are stored on your computer by your browser when you visit a website), not even in our own interest,
              to improve the use of our website and our service.<br><br>

              <b>8. Children</b><br><br>

              The service is not aimed at children under 16 and is not intended to attract them. Minors must obtain the express consent of their parents or legal guardians
              before accessing or using <i>pws_secrets</i>.<br><br>

              <b>9. Validity of this privacy policy</b><br><br>

              Please note that this privacy policy may be changed from time to time. We expect that most changes will be minor. However, we will post any changes to the policy
              on this page, and if the changes are significant, we will post a more prominent notice, such as a notice on the home page. Each version of this Policy is identified
              at the top of the page by its effective date.<br><br>

              <b>10. Contact</b><br><br>

              If you have any questions about this privacy policy or other privacy concerns, please email us at <a href="mailto:secrets@pws-agency.com"
              style="color: #D90C2A">secrets@pws-agency.com</a> and we will respond to you in less than 5 business days.<br><br>

              <i>pws_secrets</i> is a service of <a href="https://www.pws-agency.com" target="_blank" style="color: #D90C2A">pws_agency</a>.

            </div>
        </mat-expansion-panel>
    </div>
</div>

<div class="row center-all">
    <div class="col-12 secrets-item-size center-all">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b style="font-size: 19px;">Imprint</b>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="panel-text">
              <b>Information according to § 5 TMG</b><br><br>

              <i>pws_agency<br><br>
              Prof.-Messerschmitt-Str. 1a<br>
              86159 Augsburg</i><br><br>

              <b>Responsible for the content of this website</b><br><br>

              Pascal Roth<br><br>

              <b>Contact</b><br><br>

              Phone: <a href="tel:082158910720" style="color: #D90C2A;">+49 821 58910720</a><br>
              Email: <a href="mailto:secrets@pws-agency.com" style="color: #D90C2A;">secrets@pws-agency.com</a><br>
              Web: <a href="https://pws-agency.com" target="_blank" style="color: #D90C2A;">pws-agency.com</a><br>
            </div>
        </mat-expansion-panel>
    </div>
</div>
